@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body{
    background: url(../img/space3.webp);
    background-size: cover;
    background-repeat: no-repeat; 
    height:80.9vh;
    
}
@media screen and (min-width:425px) {
    body{
        height:80.9vh;
    }
}
@media screen and (min-width:768px) {
    body{
        height:80.9vh;
    }
}
@media screen and (min-width:1024px) {
    body{
        height:80.9vh;
    }
}
@media screen and (min-width:1440px) {
    body{
        height:80.9vh;
        width: 100%;
    }
}
   

/*titulo de la pagina*/
.titulo{
    font-family: 'Ubuntu', sans-serif;
    color: #f4f3ee;
    text-align: center;
    font-size: 3.6rem;
    margin-top: 160px;
    text-shadow: 2px 2px 8px #f25c54,2px 2px 8px #f25c54;
}
@media screen and (min-width:425px) {
    .titulo{
        font-size: 4.5rem;
    }
}
@media screen and (min-width:768px) {
    .titulo{
      font-size: 5.5rem;
    }
  }
@media screen and (min-width:1024px) {
  .titulo{
    font-size: 6rem;
  }
}

/*tarjetas de redes*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
}
/*estilo de las cajas */
.card{
    border: 4px solid #f4845f;
    border-radius: 10px;
    margin: 20px;
    padding: 10px 10px 10px 10px;
    background: #f4845f;
    box-shadow: 0 2px 17px #000, 0 2px 17px #000;
    transition: all .1s;
    display: flex; 
    position: relative;
}

@media screen and (min-width:425px) {
    .card{
        padding: 10px ;
    }
}
@media screen and (min-width:768px) {
    .card{ 
    padding: 10px 20px 10px 20px;
  }
}
@media screen and (min-width:1024px) {
    .card{
        padding: 10px 20px 10px 20px;     
    }
    .card:hover{
        background: #f25c54;
        border: 4px solid #f25c54;
    }
}
@media screen and (min-width:1440px) {
    .card{ 
    padding: 10px 20px 10px 20px;
  }
}
/*iconos complementarios estilo*/
 .iconcard{
    position: absolute;
    left: 20px;
 }
 @media screen and (min-width:425px) {
    .iconcard{
        left: 35px;
    }
 }
 @media screen and (min-width:768px) {
    .iconcard{
        left: 90px;
    }
 }
 @media screen and (min-width:1024px) {
    .iconcard{
        left: 200px;
    }
 }
 @media screen and (min-width:1440px) {
    .iconcard{
        left: 200px;
    }
 }
/*estilo de las a*/
.target{
    font-family: 'Kanit', sans-serif;
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
    padding: 0 60px 0 60px;
}
@media screen and (min-width:425px) {
    .target{
        padding: 0 80px 0 80px;
    }
}
@media screen and (min-width:768px) {
    .target{
        padding: 0 150px 0 150px;
    }
}
@media screen and (min-width:1024px) {
    .target{
        padding: 0 240px 0 240px;
    }
}
@media screen and (min-width:1440px) {
    .target{
        padding: 0 240px 0 240px;
    }
}
/*pie de pagina*/
footer{
    display: flex;
    justify-content: center;
}
/*icono del pie de pagina*/
.icono{
    margin-top: 20px;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    box-shadow: 0 2px 15px #f25c54;
    border: 3px solid #f4845f;
   
}
